# ignore everything
*

# exclude the files that should be tracked
!.gitignore
!README.md
!.gitconfig
!.gitignore_global
!.git-completion.bash
!.profile
!.alias
!.bash*
.bash_history
# !.zs*
# !.zp*
# !.zl*
!.atom/styles.less
!.atom/init.coffee
!.atom/keymap.cson
!.atom/snippets.cson
